/* Footer style */
#footer {
    background-color: pink;
    height: 8%;
    width: 100%;
    float: left;
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    clear: both;
    color: white;
}

/* Container for buttons */
.container {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

/* Button style */
.btn{
    border: 1px solid pink;
    background: none;
    cursor: pointer;
    font-family: "montserrat";
    font-size: 20px;
    margin: 10px;
    transition: 0.8s;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    outline: none;
  }

/* Buttons 4 types (depends on animation) */
  .btn-ref,
  .btn1,
  .btn2,
  .btn3,
  .btn4,
  .btn5 {
        outline:none;
        color: orchid;
        transition: color 0.2s linear;
        text-decoration: none;
  }

/* Buttons 1, 2, 5 on hover */
  .btn1:hover,
  .btn5:hover,
  .btn2:hover{
    color: #fff;
  }

/* Buttons 3, 4 on hover */
  .btn3:hover,
  .btn4:hover,
  .btn-ref:hover {
    color: #fff;
  }

/* Button before */
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: pink;
    z-index: -1;
    transition: 0.8s;
  }

/* Buttons 1, 3, 5 before */
  .btn1::before,
  .btn5::before,
  .btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }

/* Buttons 2, 4, ref before */
  .btn2::before,
  .btn4::before,
  .btn-ref::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }

/* Buttons 3, 4, ref before */
  .btn3::before,
  .btn4::before,
  .btn-ref {
    height: 180%;
  }

/* Buttons 1, 2, 5 before */
  .btn1:hover::before,
  .btn5:hover::before,
  .btn2:hover::before {
    height: 180%;
  }

/* Buttons 3, 4, on hover before */
  .btn3:hover::before,
  .btn4:hover::before
  .btn-ref:hover::before{
    height: 0%;
  }
  
/* Button to exit operator mode */
  #op_button {
    float: right;
    margin-top: 0px;
  }

/* Button to exit operator mode */
#op_button {
  float: right;
  margin-top: 0px;
  outline: none;
}

/* Button to exit operator mode */
#no-alg {
  margin-top: 0px;
}

.small-scene {
  height: 100%;
  width: 100%;
}